.row
	.col-lg-12
		.page-header 
			h1
				| How to use the 
				span.orange MUNI 
				| Resolution Writing Software
	.col-md-8
		h3.orange.text-center Writing 
		ol
			li 
				b About the Resolution
				p In the first step you need to tell us who you are, what committe you're in and what topic you're addressing. You also need to let us know who you've been working with this is done by selecting the appropriate text from the drop down boxes. When you're done press 
					i next
			li 
				b Preambulatory Clauses
				p In the next step you enter in your preambulatory clauses. The form for this contains two text fields, the first one is for your 'phrase' or operative word. When you start typing in here we'll show you some suggestions of words we like to use but feel free to make up your own. Once you have a good operative word then you can write in the rest of your clause and click add and voila! it's there. Once you're done with preambulatory clauses and ready to add operative clauses press
					i next
			li 
				b Operative Clauses
				p You add Operative clauses just like the preambulatory ones but you can also add in subclauses. To add a subclause enter in your text, anything, no phrases required, and press add. This will add the subclauses to the clause you're currently working on. Once you're done you can press finish and generate your resolution
	.col-md-4
		h3.blue.text-center Generating
		p You generate your resolution by pressing finish, this is really important as it lets us see your resolution it it's wonderful final formatting. Everything should be in place and looking pretty (let us know if it isn't). We'll use this copy when we print you resolution in delegate services
		h3.orange.text-center Loading/Saving
		p You won't be writing your resolution all at once so we let you save and load your resolutions too. In order to save you can simply press the save button in the bottom right. Then a window will pop up with a handy code. Remember this as it's your resolution's identification. When you're ready to work again you can simply press load, enter your code and bring it back!