.row
	.col-lg-12
		h1.orange The Purpose of Resolutions
		p Resolutions are the primary tools of discussion in the United Nations. They form the basis for all U.N. action, bringing one or several issues to the floor in a form that representatives can discuss, amend, reject or ratify as circumstances dictate. Resolutions usually state a policy that the U.N. will undertake, but may also be in the form of treaties, conventions, and declarations in some bodies. They range from very general to very specific in content. Depending on the body involved, they may call for or suggest a course of action, condemn an action, or require action or sanctions on part of the member states. It should be noted that only the Security Council may require actionor sanctions from member states. In some cases, final conventions and treaties may also requireaction, but this would only be on the part of the signatory nations. Amendments to resolutions arethe means by which resolutions may be altered by the body involved. Amendments would createadditions, deletions, or changes to a resolution in order to increase its acceptability to all nationinvolved. Amendments are usually needed for a body to move toward a consensus on a resolution.
		h1.blue Points to consider in drafting resolutions
		p The following list includes important points to consider when writing resolutions for submission at MUNI 2014. This is by no means an exclusive list, but should provide a good starting point to make your resolutions as realistic as possible. Points to consider include:
		ul
			li In the pre-ambulatory clauses, describe the recent history of the situation and the issues at hand as they currently exist.
			li Reference past United Nations actions and resolutions on the topic, when available.
			li In the operative clauses, include actions, which will solve the problem, not just make a statement.
			li Don’t be blatantly political in the content of the resolution-this may damage efforts to reach a consensus on the issue. 
			li Take into account the points of views of other nations whenever possible.
			li Write the resolution from your country’s side of the “international” or “United Nations” perspective rather than just your country’s individual point of view.
			li Refer issue, which need further discussion to appropriate, existing bodies. Don’t create new committees/commissions/working groups if one already exists (and it probably does) to undertake a similar task.
			li Always consider previous U.N. resolutions on the topics at hand-don’t duplicate what other resolutions have already done without referencing the appropriate sources.

		h1.orange Submission of Resolutions
		p Resolutions may be submitted at any time during the conference. Please remember that MUNI XIX does not allow prewritten resolutions. The proper procedure for submission is as follows:
		ol
			li Submissions must be typed up using our resolution writing software on delegate’s own computers or in the computers provided by Delegate Services.
			li Only 3 copies of any one working paper may be printed by a representative to circulate to his or her committee to gain signatories. 
			li Submissions must have the requisite number of signatures that will be determined at the beginning of the conference in each individual committee.
			li Submissions should be given to the Chair for approval.
			li Approved resolutions will be assigned an identification number and processed by Delegate Services.
			li The Chair shall distribute the resolutions when they are officially available for consideration.

		h1.blue Resolution Guidelines
		p Each draft resolution should be written as a single sentence, with commas and semicolons separating the various clauses. Resolutions should be split into two distinct sections: the pre-ambulatory and operative (also called activating) clauses. Pre-ambulatory clauses are listed first, and they are used to justify action, denote past authorizations and precedents for action, and/or denote the purpose for an action. Operative clauses are the statement of policy in a resolution. They are numbered, begin with a verb to denote an action (or suggested action), and each clause usually addresses no more than one specific aspect of the action to be taken.