.modal-header
	button.close(type="button", ng-click="close()", aria-hidden="true") &times;
	h4.modal-title Your Resolution.
.modal-body
	p(ng-show="!resolutionUrl") Generating PDF
	pdf(src='{{resolutionUrl}}')
.modal-footer
	