.modal-header
	button.close(type="button", ng-click="close()", aria-hidden="true") &times;
	h4.modal-title Saving Resolution.
.modal-body
	p Your Resolution Code is...
	h3.text-center {{resolution.code}}
	p Use this to access your resolution later and share your paper with your working group
.modal-footer